@CHARSET "UTF-8";

/**skin.css**/
.bg_index{ background:#BEE1F5;}
.warp{ background:url(../images/body_bg_zi.jpg) 50% 0 no-repeat;}
.content { background:url(../images/repeat_bg_y.png) repeat;}
.r_cont,.r_vote,.s_bg_r  { background:#f5f9fb; }
.rl_cont,.rl_cont2,.r2_cont,.m_vote,.s_bg_rl,.s_bg_rl_curr .current  { background:#fff; }

.box_mod_contraler a { background: #cee8f7;}
.box_mod_contraler a:hover{ background: #73B9DB;}
/*左侧目录hover*/
.h_menu_a a:hover,.h_menu_a a.current,.l_box03 ul li:hover, .l_box04 ul li:hover, .l_box03 ul li .current, .l_box04 ul li .current, .v_menu li:hover, .v_menu li.current {background:#73B9DB;}


		/*头部*/
.header_warp { background:url(../images/nav_bg.png) repeat-x;}
.n_active{ background:#4D9CD4; }/*当前选中模块*/

/*链接文字：主链接a,次链接b*/
a, .s_linka a, a.s_linka,a.blue03,.blue03,.text_linka,.s_func1:hover{ color:#16628B;}
.s_linka_bg,.s_linka_bg_h:hover, .zm_active,.h_list a:hover  { background:#16628B; color:#fff;}
.s_linka_br { border-color:#16628B;}

.s_linkb a, a.s_linkb, .text_linkb{ color:#5CA7C2;}
.s_linkb_br { border-color:#5CA7C2;}

/*页面文字：主文字a,文字c,文字b. a-c-b 颜色相似，且逐渐变浅**/
body, .s_texta, a.s_texta,.s_func1{	color: #444444;}/*主文字#33322E*/
.s_textc {  color: #777777;}/*转发框内、评论内容#fd856c;*/
.s_textb, a.s_textb {  color: #999999;}/*来自#677F82*/

/**突出显示的颜色:如我的群活跃度橘色**/
.s_textd { color:#F16E50;}
.s_textd_bg,.n_notice { background:#F16E50;}

/**page中使用：选中和未选中页码的边框，还需修改配色**/
.s_textb_br { border-color:#777777;}




/*分割线，边框：sep_line微博列表更多下拉列表，g_tab01群讨论分割线，d_reply私信详细页输入框边框**/
.s_linecolor, .g_tab01_line, .g_tab01_line2, .g_tab01_line4, .sep_line,.s_menu1_br li,.vc_tab,.g_tab01 { border-color:#E6E6E6;}
	/*在右侧的分割线，等同于s_line2。较突出，白浅色背景时，色值较s_linecolor深；深色背景时，较s_linecolor浅*/
.s_rlinecolor {border-color:#BBBBBB;}

/**暂未使用*/
.s_line2 { border-color:#4c261b; }
		/*.s_vline { color: #3F6A71;} 调整好友分组，预览分组分隔线，未起作用*/

/*小三角的背景和边框色**/
.s_line_c { color:#E6E6E6;} 
.s_bgcolor_c{ color:#f3f3f3;}
/**背景颜色**/
.s_bgcolor,.s_bgcolor_h:hover, .nabTag .tag01, .nabTag li a:hover, .nabTag2, .sc_menu, .sc_menu li , .sc_menu2,.sc_menu3{ background:#f3f3f3;}
.nabTag, .sc_menu li a {border-color:#f3f3f3;}
.sc_menu li a:hover,.sc_menu .current,  .nabTag2 .tag02 { background:#fff;/*与中间区域颜色一致**/ border:#e6e6e6 1px solid;}
.nabTag li a {  border-color:#e6e6e6;}

	/*背景2*/
.s_bgtitle, .l_box04 h3,.l_box05 h3 ,.l_box06 h3,.rr_box03 h3,.rr_box04 h3,.rr_box05 h3,.rr_box06 h3,.rr_box07 h3,.rr_box08 h3 { background:#e7eef5; }
	/*背景3，特殊色，无内容的提示信息*/
.s_bg3, .s_tipbg,.gp_errortip,.no_info,.s_bg4_curr .current { background:#FDFADC; /*border:1px solid #F2EEA8;*/}
.s_bg3_c { color:#FDFADC;}
	/*背景4，特殊色*/
.s_bg4 { background:#fffaf6; border:#eddbc7 1px solid;}
	/*背景5，聊天窗口*/
.s_bg5 { background:#296883;}
.s_bg5_br { border-color:#296883;}

/**按钮**/
.g_btn{	background:#e3ffd6; border:#d5f7c5 1px solid; color:#38990b!important;}
.g_btn:hover,.g_btn a:hover { background:#80d300; border-color:#4fc000;  color: #FFFFFF;}

.g_btn2{background:#f3f5f4; border:#e1e1e1 1px solid; color:#3e9bba;}
.g_btn2:hover{ background:#f3f5f4; }


.g_btn4,.g_btn4 a {	background:#e3ffd6; border:#d5f7c5 1px solid;  color:#38990b;}
.g_btn4:hover,.g_btn4 a:hover { background:#80d300; border:#4fc000 1px solid;  color:#fff; }




/**输入框*/
.g_text,.g_text1, .g_text2, .g_text3, .g_text4, .g_text5, .g_text6,.v_text,.v_text2 {  border:#c6c6c6 1px solid; }






/**头部黑白灰，不随模版变化***/
.header ul li a.link,.n_notice {color:#fff;}
.header ul li a.link:hover,.nav_current { color:#000!important;background:#fff;}/*头部模块hover、模块选中时*/
.nr{  background:#ffffff; border-color:#bababa;	}
.nr p a { color:#000}
.nr p a:hover {background:#E6E6E6;}




/****************************************模块内自留css样式****************************************/
/*group.css*/
.gh_l li:hover, .everymem:hover { background:#FFFFF0; }
.g_notice { background:#fffaf6; border:#eddbc7 1px solid; }





